<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Evergloam</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fa fa-globe"></i>
            All Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed">
            <i class="fa fa-rss"></i>
            Feed
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/user/:id">My Profile</a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="#"
            >Log Out</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="fa fa-sign-in"></i>
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">
            <i class="fa fa-user-plus"></i>
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
