<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="row">
      <div class="col-8">
        <h2 class="profile-username">Name</h2>
        <p>
          <strong>Registered: </strong>
          Register date
        </p>
      </div>
      <div class="col-4 text-center">
        <!-- ProfileImage -->
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12 text-center">
    <div class="col-4 mx-auto">
      <!-- Subscription -->
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <!-- PostForm -->
    <!-- Posts -->
  </div>
</div>
